<nav class="sidenav" id="sideNav">
    <div class="sidenav-search-container input-group rounded mb-3">
       <input type="search" class="form-control rounded" [(ngModel)]="searchCriterias" aria-label="Search"
         aria-describedby="search-addon" />
       <button type="button" class="btn btn-primary" (click)="search()">Search</button>
     </div>
     <div>
         <h1></h1>
     </div>
     <div class="nav-items-wrapper">
         <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="'/current'">Current</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" [routerLink]="'/forecast'">Forecast</a></li>
         </ul>
     </div> 

</nav>
