<nav class="sidenav" id="sideNav">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="sidenav-search-container input-group rounded">
    <input
      type="search"
      class="form-control rounded search-box me-2"
      [(ngModel)]="searchCriterias"
      aria-label="Search"
      aria-describedby="search-addon"
    />
    <button type="button" class="btn btn-primary" (click)="search()">
      Search
    </button>
  </div>
  <div class="nav-items-wrapper">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" [routerLink]="'/current'"
          ><img
            class="me-2"
            src="assets/images/sun-icon.svg"
            height="28"
            alt=""
            srcset=""
          />
          Current</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" [routerLink]="'/forecast'"
          ><img
            class="me-2"
            src="assets/images/rain-icon.svg"
            height="28"
            alt=""
            srcset=""
          />
          Forecast</a
        >
      </li>
    </ul>
  </div>
</nav>
