<section class="app-wrapper">
  <app-side-navigation></app-side-navigation>
  <main class="w-100">
    <app-spinner></app-spinner>
    <section class="forecast-area-header d-flex align-items-center">
      <div>
        <h1>
          Weather Widget App
          <img
            class="me-2"
            src="assets/images/rain-icon-yello.svg"
            height="64"
            alt=""
            srcset=""
          />
        </h1>
      </div>
      <div class="toggle-button me-4"></div>
    </section>
    <router-outlet></router-outlet>
  </main>
</section>
